{% extends 'apps/baseprincipal.html' %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="container">
        <table class="table table-bordered table-striped" name="tabela">
            <tr>
                <th>Nome</th>
                <th>Relato</th>
            </tr>
            {% for relato in relatos %}
            <tr>
                <td>{{relato.titulo}}</td>
                <td>{{relato.texto}}</td>
            </tr>
            {% endfor %}
        </table>
        <a class="navbar-brand" href="{% url 'portalfuncionarios' %}" name="voltar">
            <h4>Voltar</h4>
        </a>
    </div>
    
{% endblock content %}