{% extends 'apps/baseprincipal.html' %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <table class="table table-bordered table-striped" name="tabela">
        <tr>
            <th>Nome</th>
            <th>Padrinho</th>
            <th>Data Nascimento</th>
            <th>Características</th>
            <th>História</th>
            <th>Sobre Mim</th>
        </tr>
        {% for perfil in perfils %}
        <tr>
            <td>{{perfil.nome}}</td>
            <td>{{perfil.padrinho}}</td>
            <td>{{perfil.data_nascimento}}</td>
            <td>{{perfil.caracteristicas}}</td>
            <td>{{perfil.historia}}</td>
            <td>{{perfil.sobre_mim}}</td>
        </tr>

        {% endfor %}
    </table>
    <a class="btn btn-danger" href="{% url 'excluir_perfil' %}" name="ir_para_excluir">Excluir Perfil</a>
    <br>
    <br>
    <a class="navbar-brand" href="{% url 'portalfuncionarios' %}" name="voltar">
            <h5>Voltar</h5>
    </a>
</div>

{% endblock content %}