{% extends 'apps/baseprincipal.html' %}
{% block content %}
    <div class="center">
        <form id="status-form" method="post" action="{% url 'acessar_status' %}">
            {% csrf_token %}
            <div class="botoes">
                <label for="Feliz">Feliz</label>
                <input type="radio" name="status" id="Feliz" value="Feliz">
                <br>
                <label for="Normal">Normal</label>
                <input type="radio" name="status" id="Normal" value="Normal">
                <br>
                <label for="Triste">Triste</label>
                <input type="radio" name="status" id="Triste" value="Triste">
            </div>
            <br>
            <button name= "enviar_status" type="submit">Enviar</button>  
        </form>        
{% endblock content %}