{% extends 'apps/baseprincipal.html' %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<h1>Eventos:</h1>
<br>
<div class="container">
    <table class="table table-bordered table-striped" name="tabelaCalendario">
        <tr>
            <th>Data</th>
            <th>Evento</th>
        </tr>
        {% for evento in eventos %}
        <tr>
            <td>{{evento.data}}</td>
            <td>{{evento.evento}}</td>
        </tr>
        {% endfor %}
    </table>
    <a class="navbar-brand" href="{% url 'portalpadrinhos' %}">
        <h5>Voltar</h5>
    </a>
</div>
{% endblock content %}