{% extends 'apps/baseprincipal.html' %}
{% block content %}
    <div class="d-grid gap-2 col-6 mx-auto">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a style="background-color: #E56A54;" class="btn btn-danger" href="#" role="button">Afilhado 1<a></a>
        <br>
        <a style="background-color: #E56A54;" class="btn btn-danger" href="#" role="button">Afilhado 2<a></a>
        <br>
        <a style="background-color: #E56A54;" class="btn btn-danger" href="#" role="button">Afilhado 3<a></a>
    </div>
{% endblock content %}