{% extends 'apps/baseprincipal.html' %}
{% block content %}

    <div class="center">
        <a class="btn btn-danger" href="{%url 'Afilhados_padrinhos' %}" role="button" name="atualizacao">Meus Afilhados</a>
        <br>
        <br>
        <a class="btn btn-danger" href="{% url 'acesso_relatos' %}" role="button" name="acesso_relatos">Acessar Relatos Diversos</a>
        <br>
        <br>
        <a class="btn btn-danger" href="{%url 'Calendario' %}" role="button" name="calendario">Vizualizar Calendário</a>
    </div>

{% endblock content %}