{% extends 'apps/baseprincipal.html' %}
{% block content %}
<div class="center">
    <a class="btn btn-danger" href="{% url 'criar_perfil' %}" role="button" name="criar_perfil">Criar Perfil</a>
    <br>
    <br>
    <a class="btn btn-danger" href="{% url 'Afilhados_funcionarios' %}" role="button" name="acessarperfil">Acessar perfis</a>
    <br>
    <br>
    <a class="btn btn-danger" href="{%url 'relato' %}" role="button" name="atualizacao">Adicionar Relato</a>
    <br>
    <br>
    <a class="btn btn-danger" href="{% url 'Adicionarevento' %}" role="button" name="calendario">Atualizar Calendário</a>
    <br>
    <br>
    <a class="btn btn-danger" href="{% url 'atualizar_status' %}" role="button" name="atualizar_status">Atualizar Status</a>
    <br>
    <br>
    <a class="btn btn-danger" href="{% url 'acessar_feedback' %}" role="button" name="acessar_feedback">Acessar Feedback</a>
</div>
{% endblock content %}