{% extends 'apps/baseprincipal.html' %}
{% block content %}
<div class="center">
    <a class="btn btn-danger" href="{% url 'criar_perfil' %}" role="button" name="criar_perfil">Criar Perfil</a>
    <a class="btn btn-danger" href="{% url 'Afilhados' %}" role="button" name="acessarperfil">Acessar perfis</a>
    <a class="btn btn-danger" href="{%url 'relato' %}" role="button" name="atualizacao">Atualização das Crianças</a>
    <a class="btn btn-danger" href="{% url 'Adicionarevento' %}" role="button" name="calendario">Atualizar Calendário</a>
</div>
{% endblock content %}